*{
    margin-top: 5px;
    border-radius: 5px;
}






















footer .container{
    background-color: #0d6efd;
    width: auto;
    height: 70px;
}

footer .container a{
color: rgba(255, 238, 6, 0.886)y;
}
footer div ul{
    display: flex !important;
}
footer div ul li{
    margin: auto;
    color: black;
}
footer div ul li a{
    color: rgba(0, 0, 0, 0.886);
}